In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense

In [17]:
data = pd.read_csv('Customer_Churn_Modelling.csv')

In [18]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [19]:
X = data.drop(['RowNumber', 'CustomerId', 'Surname', 'Exited'], axis=1)
y = data['Exited']

In [20]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [21]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [22]:
label = LabelEncoder()

In [23]:
X['Gender'] = label.fit_transform(X['Gender'])

In [24]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10

In [25]:
X = pd.get_dummies(X, drop_first=True, columns=['Geography'])

In [27]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1

### Feature Standardization

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [30]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [32]:
X_train

array([[ 1.058568  ,  0.90750738,  1.71508648, ...,  1.04208392,
        -0.57831252, -0.57773517],
       [ 0.91362605,  0.90750738, -0.65993547, ..., -0.62355635,
         1.72916886, -0.57773517],
       [ 1.07927399, -1.10191942, -0.18493108, ...,  0.30812779,
         1.72916886, -0.57773517],
       ...,
       [ 0.16821031, -1.10191942, -0.18493108, ..., -0.55808767,
        -0.57831252, -0.57773517],
       [ 0.37527024,  0.90750738, -0.37493284, ..., -1.35149956,
        -0.57831252,  1.73089688],
       [ 1.56586482,  0.90750738,  1.14508121, ..., -1.02692216,
        -0.57831252,  1.73089688]])

### Build ANN

In [43]:
model = Sequential([
    Dense(X.shape[1], activation='relu', input_dim=X.shape[1]),
    Dense(128, activation='relu'),
    Dense(1, activation='sigmoid')
])

In [44]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [45]:
model.fit(X_train, y_train.to_numpy(), batch_size=16, epochs=10, verbose=True)

Train on 8000 samples
Epoch 1/10
8000/8000 [==============================] - 1s 117us/sample - loss: 0.4604 - accuracy: 0.8061
Epoch 2/10
8000/8000 [==============================] - 1s 80us/sample - loss: 0.4096 - accuracy: 0.8286
Epoch 3/10
8000/8000 [==============================] - 1s 80us/sample - loss: 0.3713 - accuracy: 0.8469
Epoch 4/10
8000/8000 [==============================] - 1s 83us/sample - loss: 0.3546 - accuracy: 0.8556
Epoch 5/10
8000/8000 [==============================] - 1s 82us/sample - loss: 0.3457 - accuracy: 0.8585
Epoch 6/10
8000/8000 [==============================] - 1s 82us/sample - loss: 0.3419 - accuracy: 0.8570
Epoch 7/10
8000/8000 [==============================] - 1s 83us/sample - loss: 0.3376 - accuracy: 0.8595
Epoch 8/10
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3361 - accuracy: 0.8596
Epoch 9/10
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3346 - accuracy: 0.8611
Epoch 10/10
8000/8000 [==============================] - 1s 84us/sample - loss: 0.3326 - accuracy: 0.8634

In [46]:
y_pred = model.predict_classes(X_test)

In [48]:
model.evaluate(X_test, y_test)

2000/2000 [==============================] - 0s 52us/sample - loss: 0.3394 - accuracy: 0.8665

[0.33939549648761747, 0.8665]

In [50]:
confusion_matrix(y_test, y_pred)

array([[1528,   65],
       [ 202,  205]])